body{

font-family: Arial, Helvetica, sans-serif;
font-size: larger ;

min-height: 100vh;
margin: 0;


    height: 100%;
    display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 8fr 1fr;
}
.header{
grid-column: 1/4;
background-color: #25292e;
color: #fff;
}
.repositories{
}
.content{
background-color: #f6f8fa;

}
.sidebar{
background-color: #eaecee;

}
.footer{
    grid-column: 1/4;
text-align: center;
z-index: -1;
}