body {
    background-color: #ebecfe;
    font-family: 'Cabin', sans-serif;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

/* **************** Tabell ********** */

.main{

}

.tabell {
    border-collapse: collapse;
    /* background-color: #b0b; */
    margin-bottom: 100px;
    margin-top: 15px;

}

.hellrad {
    text-transform: uppercase;
    background-color: #d5d2eb;
    color: #746db9;
    text-align: center;
}
.top_content{
    background-image: linear-gradient(#665c9e, #3d5989);
    color: #fff;
    font-weight: 50;
    padding-top: 15px;
}
.tabell_th {
    background-image: linear-gradient(#665c9e, #3d5989);
    color: #fff;
    font-weight: 50;
    padding-top: 15px;
}

.läs_mer {
    color: #fff;
    background-color: #61bd4f;
    border: 0px solid #000;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
}

.läs_mer:hover {
    background-color: #509d41;
}

.kom_igång {
    color: #fff;
    background-color: #6a7ba4;
    border: 0px solid #000;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;

}

.kom_igång:hover {
    background-color: #506085;
}

td {
    /* border: 1px solid #000; */
    background-color: #fff;
    padding: 5px;
    border: 1px solid #d5d2eb;
}

.top_l{

}
.top_m{
    
}
.top_r{

}
.down_l{

}
.down_r{

}

/* **************** Tabell ********** */
.small {
    font-size: small;
}

p {
    margin: 2px;

}

h1 {
    margin-bottom: 5px;
}