.arial{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #e1751c;
    font-size: 1.5em;

}
.verdana{
font-family: Verdana, Geneva, sans-serif;
color: #2b81b1;
font-size: 1.5em;
}