body {
    background-color: #b8b8b8;
    min-height: 100vh;
    margin: 0;


    display: grid;
    justify-content: center;
    align-content: center;

    text-align: center;
}

p {
    font-size: xx-large;
    font-family: d;
}

.main {
    display: flex;
    gap: 1rem;
    /* flex-direction: row; */
    /* align-content: center; */
    border: 1px solid #000;

}

.r {
    border: 5px solid #fff;
    border-radius: 4px;
    transform: rotate(8deg);
    width: 100px;
    height: 100px;
    background-image:
        linear-gradient(180deg,
            #ee3f50,
            #ee3f50 85%,
            #D53341 85%,
            #D53341 100%);
    /* float: left; */
    /* justify-content: space-around; */
}

.g {
    border: 5px solid #fff;
    border-radius: 4px;
    width: 100px;
    height: 100px;
    background-image:
        linear-gradient(180deg,
            #44BEC7,
            #44BEC7 85%,
            #3AA2A9 85%,
            #3AA2A9 100%);
    /* float: left; */
    /* justify-content: space-around; */

}

.b {
    background-color: #3885fc;
    border: 5px solid #fff;
    border-radius: 4px;
    transform: rotate(-8deg);
    width: 100px;
    height: 100px;
    background-image:
        linear-gradient(180deg,
            #3885fc,
            #3885fc 85%,
            #0070D9 85%,
            #0070D9 100%);
    /* float: left; */
    /* justify-content: space-around; */
}