table {
    border-collapse: collapse;
    background-color: #F39D11;
}
tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
    background-color: #15A184;
}
td{
    padding: 20px;
}